Node flow
[{"id":"ed6e2f00.80ec7","type":"inject","z":"e6264d09.25002","name":"Direct Message On Twitter","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"10","topic":"","payload":"D garg_shelvi Hello-Node-red","payloadType":"str","x":160,"y":120,"wires":[["1154e098.e730ef"]]},{"id":"1154e098.e730ef","type":"twitter out","z":"e6264d09.25002","twitter":"","name":"Tweet","x":430,"y":120,"wires":[]},{"id":"27ea38a2.c0c2a8","type":"inject","z":"e6264d09.25002","name":"Post Tweet","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Tweet from Node-red-testing","payloadType":"str","x":120,"y":220,"wires":[["e2c873cf.e8699"]]},{"id":"e2c873cf.e8699","type":"twitter out","z":"e6264d09.25002","twitter":"","name":"Tweet","x":390,"y":220,"wires":[]},{"id":"f605a9af.677e68","type":"twitter in","z":"e6264d09.25002","twitter":"","tags":"INDvsENG Singuali","user":"false","name":"Parse Latest Tweets","inputs":1,"x":150,"y":300,"wires":[["926bfb8a.c75f98"]]},{"id":"926bfb8a.c75f98","type":"debug","z":"e6264d09.25002","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":300,"wires":[]},{"id":"bf17b0b5.5ce7e","type":"inject","z":"e6264d09.25002","name":"Post Tweet Photo","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":380,"wires":[["8ae92e63.21fa2"]]},{"id":"30c3785.0941488","type":"change","z":"e6264d09.25002","name":"","rules":[{"t":"set","p":"media","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"Media from node-red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":380,"wires":[["f2675fdc.8d542"]]},{"id":"f2675fdc.8d542","type":"twitter out","z":"e6264d09.25002","twitter":"","name":"Tweet","x":750,"y":380,"wires":[]},{"id":"8ae92e63.21fa2","type":"file in","z":"e6264d09.25002","name":"Image","filename":"C:\\Users\\Shelvi Garg\\Downloads\\food-2203732_1280.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":330,"y":380,"wires":[["30c3785.0941488"]]}]
