Save Straming data to csv
[{"id":"1f85ba10.12eef6","type":"twitter in","z":"ed333c8a.54576","twitter":"","tags":"NaukariDoYaDegreeWapasLo","user":"false","name":"Get Tweets","inputs":0,"x":110,"y":100,"wires":[["1e61570b.c82299","1f34699c.faf636"]]},{"id":"1e61570b.c82299","type":"debug","z":"ed333c8a.54576","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":80,"wires":[]},{"id":"1f34699c.faf636","type":"function","z":"ed333c8a.54576","name":"","func":"var on= msg.payload.on;\nif (on==\"1\") msg.payload.on = true;\nif (on==\"0\") msg.payload.on= false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":180,"wires":[["3c3bdee2.61ed92","444ef18e.98b29"]]},{"id":"3c3bdee2.61ed92","type":"file","z":"ed333c8a.54576","name":"text file","filename":"C:\\Users\\Shelvi Garg\\Desktop\\Code\\Node-red\\twitter-streams.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":610,"y":140,"wires":[[]]},{"id":"444ef18e.98b29","type":"file","z":"ed333c8a.54576","name":"Csv file","filename":"C:\\Users\\Shelvi Garg\\Desktop\\Code\\Node-red\\twitter-stream.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":590,"y":220,"wires":[[]]}]
